{% extends "films/filmdetaillayout.html" %}

{% load static from staticfiles %}

{% block title %} FILMS {% endblock %}

{% block content %}
<article>


    <section>
        {% for film in films %}
        <div class="card" style="width: 20rem;">
          <!--<img class="card-img-top" src="..." alt="Card image cap">-->
          <div class="card-body">
              <h4 class="card-title">{{film.title}}</h4>
              <p class="card-text">{{ film.description }} - {{ film.release_year }}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>

    </section>
</article>
{% endfor %}
{% endblock %}
